In [11]:
import pandas as pd
import numpy as np

In [3]:
!head ../../data/befkbhalderstatkode.csv

## 01 Class exercise slicing dataframe
Use this data:
```python
data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])
```
1. Create a DataFrame (wrap the data above in a pandas DataFrame in a way that printing the dataframe and its index and column attributes gives this result)  
`pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])`  

``` 
     Col1 Col2 col3  
Row1    1    2    3
Row2    4    5    6
Row3    7    8    9

Index(['Row1', 'Row2', 'Row3'], dtype='object')
Index(['Col1', 'Col2', 'col3'], dtype='object')
```

2. Make slices of data:
   1. second column using column name
   2. third column using column index (.iloc[])
   3. slice element at third row of second column (use .iloc())

In [38]:
data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])

df =  pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])

print("1")
print(df)
print("2A:")
print(df['Col2'])

print("2B:")
print(df.iloc[:,2])

print("2C:")
print(df.iloc[2,1])

1
     Col1 Col2 col3
Row1    1    2    3
Row2    4    5    6
Row3    7    8    9
2A:
Row1    2
Row2    5
Row3    8
Name: Col2, dtype: object
2B:
Row1    3
Row2    6
Row3    9
Name: col3, dtype: object
2C:
8

## 02 Exercise Pandas Data Series
The CO2 Emission data set above is not updated since 2014
1. Create a Pandas Series with emission data from 2014 for each country or region
2. Find the 10 Countries/Regions with the highest emissions in 2014 and show emission numbers (reverse sorted)
3. Remove if you can those rows that are not countries (regions and aggregated groups) (hint:  [ISO 3166, Alpha-3 country codes](https://www.iban.com/country-codes), a csv file can be found here: `/data/country_codes.csv`)
    - Find the 10 countries with highest emissions in 2014
4. Plot the emissions of China and USA over time respectively

In [113]:
data = pd.read_csv('../../data/API_EN.ATM.CO2E.KT_DS2_en_csv_v2_1345584.csv', skiprows=4)
print("Exercise 2.1")
data2014 = pd.Series(data=data['2014'].values, index=data['Country Code'])
print(data2014)
print("Exercise 2.2")
data2014sorted = data2014.sort_values(ascending=False)
print(data2014sorted.iloc[0:10])
print("Exercise 2.3")
country_codes = pd.read_csv('../../data/country_codes.csv', sep='\t', header=None)

print(country_codes)
onlycountries = data[data['Country Code'].isin(country_codes.iloc[:][2].str.strip().tolist())]
onlycountriessorted = onlycountries.sort_values(ascending=False, by='2014')
print("sorted")
onlycountriessorted.iloc[0:10]['Country Name']

Exercise 2.1
Country Code
ABW       872.746
AFG      8467.103
AGO     44851.077
ALB      5489.499
AND       462.042
          ...
XKX      7260.660
YEM     24667.909
ZAF    484495.041
ZMB      4503.076
ZWE     12115.768
Length: 264, dtype: float64
Exercise 2.2
Country Code
IBT    2.155943e+07
LMY    2.110046e+07
MIC    2.091510e+07
IBD    2.073197e+07
UMC    1.693238e+07
LTE    1.509443e+07
EAS    1.413107e+07
HIC    1.298539e+07
OED    1.220186e+07
EAP    1.155527e+07
dtype: float64
Exercise 2.3
                   0    1     2    3
0       Afghanistan   AF   AFG     4
1           Albania   AL   ALB     8
2           Algeria   DZ   DZA    12
3    American Samoa   AS   ASM    16
4           Andorra   AD   AND    20
..               ...  ...   ...  ...
244  Western Sahara   EH   ESH   732
245           Yemen   YE   YEM   887
246          Zambia   ZM   ZMB   894
247        Zimbabwe   ZW   ZWE   716
248   Ã…land Islands   AX   ALA   248

[249 rows x 4 columns]
sorted

38                  China
249         United States
107                 India
200    Russian Federation
117                 Japan
53                Germany
110    Iran, Islamic Rep.
203          Saudi Arabia
124           Korea, Rep.
33                 Canada
Name: Country Name, dtype: object